<ion-header>

</ion-header>

<ion-content>
  <div *ngFor="let task of taskList">
    <p>{{task.title}}</p>
  </div>



  <!-- <div *ngIf="postList">
    <div *ngFor="let post of postList">
        <p>{{post.postText}}</p>
        <p *ngIf="currentUser.userId == post.ownerId">Posted by <a [routerLink]="['/profilepage/', currentUser.userId]">{{currentUser.userName}}</a> on {{post.createdOn}}</p>
        <p *ngIf="currentUser.userId != post.ownerId">Posted by {{post.ownerId}} on {{post.createdOn}}</p>
        <p *ngIf="currentUser.userId == post.ownerId"><a [routerLink]="['/edit', post.postId]">Edit Post</a><button (click)="onDelete(post.postId)">Delete Post</button></p>
    </div>
</div>  -->
</ion-content>
